NODE_ENV=production
PORT=5000
MONGO_URI=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

JWT_SECRET=your-jwt-secret
JWT_EXPIRY=7d

# SSLCommerz Configuration (Sandbox)
SSL_STORE_ID=
SSL_STORE_PASSWORD=

SSL_IS_LIVE=true

SERVER_URL=
MA_FRONTEND_URL=
EP_FRONTEND_URL=


EMAIL_USER=
EMAIL_PASS=

# Social Media Links 
MA_FACEBOOK_GROUP_LINK=
MA_WHATSAPP_GROUP_LINK=
EP_FACEBOOK_GROUP_LINK=
EP_WHATSAPP_GROUP_LINK=

# Social Media Links for Emails
MA_EMAIL_SOCIAL_YOUTUBE=https://www.youtube.com/@misunacademy
MA_EMAIL_SOCIAL_FACEBOOK=https://www.facebook.com/misunacademy
MA_EMAIL_SOCIAL_LINKEDIN=https://www.linkedin.com/company/misun-academy
MA_EMAIL_SOCIAL_TWITTER=https://x.com/misunacademy
MA_EMAIL_SOCIAL_WEBSITE=http://localhost:3000

EP_EMAIL_SOCIAL_YOUTUBE=https://www.youtube.com/@EsunPoint
EP_EMAIL_SOCIAL_FACEBOOK=https://www.facebook.com/esunpoint
EP_EMAIL_SOCIAL_WEBSITE=http://localhost:3000


# Cloudinary Configuration (Required for image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# 
SSL_PAYMENT_API=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSL_VALIDATION_API=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php



# BETTER_AUTH_URL=http://localhost:5000/api/v1/auth
BETTER_AUTH_SECRET=rnweyEME9M9cSy9FvfHvcx2gMPkp1H5Dj4YaKufPRsAyon8Tf
BETTER_AUTH_URL=http://localhost:5000/api/v1/auth
GOOGLE_CLIENT_ID=   
GOOGLE_CLIENT_SECRET=   



# Email Configuration (for Better Auth)
EMAIL_FROM=noreply@misunacademy.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=  
SMTP_PASS=  